{{#if currentUser}}
  <div class="custom-user-sidebar-content">
    <div class="user-sidebar-header" style="background-image: url({{user.profile_background_upload_url}})">
    </div>

    {{log user}}


    <div class="user-sidebar-text">
      <section class="sidebar-name">
        {{avatar currentUser imageSize="large"}}
        <a class="sidebar-username" href="/u/{{currentUser.username}}">
          {{#if currentUser.name}}
            {{currentUser.name}}
          {{else}}
            {{currentUser.username}}
          {{/if}}
        </a>

          <div class="sidebar-name-details">
            <div>IB DP Student at Faria Intetional School</div>
            <div>May 2020 Exams &bull; 6 Subjects</div>
          </div>

       </section>

       <section class="sidebar-personal-stats">

          <div class="sidebar-stat">
            <h4>Community Status</h4>
            <span>Alumni | 44</span>
          </div>
          <div class="sidebar-stat">
            <h4>Email</h4>
            <a href="mailto:{{user.email}}">{{user.email}}</a>
          </div>
          <div class="sidebar-stat">
            <h4>Joined</h4>
            <span>{{bound-date user.created_at}}</span>
          </div>

        </section>

        <section class="sidebar-category-stats">
          <div class="sidebar-stat">
            <h4>Creativity, Activity, & Service</h4>
            <a href="#">15 Activities</a>
          </div>
          <div class="sidebar-stat">
            <h4>Extended Essay</h4>
            <a href="#">6 Reflections</a>
          </div>
          <div class="sidebar-stat">
            <h4>Theory of Knowledge</h4>
            <a href="#">12 Reflections</a>
          </div>

        </section>

        <section class="sidebar-topic-stats">
          <a class="sidebar-linked-stat" href="#">
            <div class="sidebar-stat-count">{{currentUser.topic_count}}</div>
            <div class="sidebar-stat-label">Topics</div>
          </a>
          <a  class="sidebar-linked-stat" href="#">
            <div class="sidebar-stat-count">{{currentUser.reply_count}}</div>
            <div class="sidebar-stat-label">Comments</div>
          </a>
        </section>


<section class="sidebar-button">
<a class="btn btn-default" href="/u/{{currentUser.username}}" >My profile </a>
</section>

</div>

</div>

{{/if}}
