
<th class="topic-list-header-lable topics">
  Directory
</th>


{{#if showPosters}}
<th>
  {{raw "topic-list-header-column" order='posters' name='users'}}
</th>
{{/if}}


<th class="topic-list-header-lable replies-views">
<span class="replies-views-wrap">
  {{raw "topic-list-header-column" sortable=sortable number='true' order='posts' name='replies'}}
  <span class="label-separator">/</span>
  {{raw "topic-list-header-column" sortable=sortable number='true' order='views' name='views'}}
</span>
</th>

<th class="topic-list-header-lable last-post">
  <span>{{theme-i18n "topic_list.last_post_header"}}</span>
</th>

<th class="bulk-select">
  {{#if canBulkSelect}}
    {{raw "flat-button" class="bulk-select" icon="list" title="topics.bulk.toggle"}}
  {{/if}}
</th>
