{{custom-filter}}

{{#unless skipHeader}}
  <thead class="custom-topic-list-header">
    {{raw "topic-list-header"
      canBulkSelect=canBulkSelect
      toggleInTitle=toggleInTitle
      hideCategory=hideCategory
      showPosters=false
      showLikes=showLikes
      showOpLikes=true
      order=order
      ascending=ascending
      sortable=sortable
      listTitle=listTitle
      bulkSelectEnabled=bulkSelectEnabled}}
  </thead>
{{/unless}}

{{! pinned topics go here}}
{{#if hasPinnedTopics}}
  <tbody class="custom-topic-list-pinned">
    <tr class="custom-topic-list-title pinned">
      <td colspan="4">

      Pinned Topics
    </td>

    </tr>
    {{#each filteredTopics as |topic|}}

      {{#if topic.pinned}}

        {{topic-list-item topic=topic
                      bulkSelectEnabled=bulkSelectEnabled
                      showTopicPostBadges=showTopicPostBadges
                      hideCategory=hideCategory
                      showPosters=showPosters
                      showLikes=showLikes
                      showOpLikes=true
                      expandGloballyPinned=expandGloballyPinned
                      expandAllPinned=expandAllPinned
                      lastVisitedTopic=lastVisitedTopic
                      selected=selected
                      tagsForUser=tagsForUser}}

      {{/if}}
    {{/each}}
  <tr class="custom-topic-list-title" >
<td colspan="4">
    Topics
</td>
  </tr>
</tbody>
{{/if}}

{{! regular topics go here}}
<tbody class="custom-topic-list">
  {{#each filteredTopics as |topic|}}
    {{#unless topic.pinned}}
      {{topic-list-item topic=topic
                      bulkSelectEnabled=bulkSelectEnabled
                      showTopicPostBadges=showTopicPostBadges
                      hideCategory=hideCategory
                      showPosters=showPosters
                      showLikes=showLikes
                      showOpLikes=true
                      expandGloballyPinned=expandGloballyPinned
                      expandAllPinned=expandAllPinned
                      lastVisitedTopic=lastVisitedTopic
                      selected=selected
                      tagsForUser=tagsForUser}}
      {{raw "list/visited-line" lastVisitedTopic=lastVisitedTopic topic=topic}}
    {{/unless}}
  {{/each}}
</tbody>
