<div class="custom-sidebar-nav-contents">


  <h3> Student Community </h3>

  <ul>
    <li><a href="#">{{d-icon 'comments'}} <span class="sidebar-nav-text">Forums</span> </a></li>
    <li><a href="#">{{d-icon 'file'}} <span class="sidebar-nav-text">My Posts</span> </a></li>
    <li><a href="#">{{d-icon 'layer-group'}} <span class="sidebar-nav-text">Categories</span> </a></li>
    <li><a href="#">{{d-icon 'chart-line'}} <span class="sidebar-nav-text">Activity</span> </a></li>
    <li><a href="#">{{d-icon 'question-circle'}} <span class="sidebar-nav-text">FAQ & Policies</span> </a></li>
  </ul>

  <h3> Subject Center </h3>

  <ul>
    <li><a href="#">{{d-icon 'clipboard'}} <span class="sidebar-nav-text">DP Assessment</span> </a></li>
    <li><a href="#">{{d-icon 'clock'}} <span class="sidebar-nav-text">Deadlines</span> </a></li>
    <li><a href="#">{{d-icon 'calendar'}} <span class="sidebar-nav-text">Exam Calendar</span> </a></li>
    <li><a href="#">{{d-icon 'hdd'}} <span class="sidebar-nav-text">Resources</span> </a></li>
    <li><a href="#">{{d-icon 'map'}} <span class="sidebar-nav-text">Curriculum </span></a></li>
  </ul>

  <h3> Openapply </h3>

  <ul>
    <li><a href="#">{{d-icon 'book'}} <span class="sidebar-nav-text">International Admissions Bulletin</span> </a></li>
  </ul>

  <h3> Managebac </h3>

  <ul>
    <li><a href="#">{{d-icon 'road'}} <span class="sidebar-nav-text">Product Roadmap & Changelog</span> </a></li>
    <li><a href="#">{{d-icon 'rss-square'}} <span class="sidebar-nav-text">Blog</span> </a></li>
    <li><a href="#">{{d-icon 'user'}} <span class="sidebar-nav-text">Profile</span> </a></li>
  </ul>


</div>
